.header {
  grid-area: hd;
}

.footer {
  grid-area: ft;
}

.sidebar {
  grid-area: sd;
}

.content {
  grid-area: ct;

}

.whole
{
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-template-areas:
  "hd hd hd hd hd hd hd hd hd"
  "ct ct ct ct ct ct ct sd sd"
  "ft ft ft ft ft ft ft ft ft";
}


.video {
  border-radius: 20px;
   background-size: cover;
}

.grid-main-content {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  overflow: auto;
}

.grid-content-1 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;
  background-size: cover;
  background-position: center;
}

.grid-content-2 {
  grid-row-start: 4;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 6;
  background-size: cover;
  background-position: center;
}

.grid-content-3 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 4;
  overflow: auto;
}

.grid-content-4 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 8;
  background-size: cover;
  background-position: center;
}

.grid-content-5 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 8;
  overflow: auto;
}

.grid-aside {
  grid-row-start: 2;
  grid-row-end: 7;
  grid-column-start: 6;
  grid-column-end: 8;
  overflow: auto;
}

.grid-gallery {
grid-row-start: 9;
grid-row-end: 10;
grid-column-start: 1;
grid-column-end:8;
display: flex;
flex-wrap:nowrap;
}

.grid-gallery-image {
  flex-basis: calc(100% / 3 - 40px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  margin: 10px;
  align-content: space-around;
  border-radius: 10px;
}

.grid-footer {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 8;
  text-align: center;
}



.grid-container {
  display: grid;
  min-height: 200vh;
  min-width: 100vh;
  grid-template-rows: 280px 300px 200px 100px 250px 350px 250px 200px 200px 100px;
  grid-template-columns: 1fr 50px 50px 50px 1fr 100px 100px;
}

.grid-container div {
  border: 1px dotted gainsboro;
  border-radius: 15px;
  margin: 10px;
  padding: 8px;
  box-shadow: inset 0px 0px 20px 15px gainsboro;
}

.grid-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 8;

}

.grid-intro {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 6;
display: flex;
border-radius: 20px;
 background-size: cover;
}
