* {
  box-sizing: border-box;
}
body {
font-family: 'Roboto', sans-serif;
font-size: 18px;
color: #161616;

}

/* эксперименты с position */
.position-parent {
    width: 200px;
    height: 300px;
    background: pink;
    position: relative;
    margin: 50px;
}

.position-child {
    height: 300px;
    background: violet;
    position: relative;
    left: 100px;
    top: 100px;
}

.position-child-absolute {
    width: 100px;
    height: 300px;
    background: gray;
    position: absolute;
    left: 100px;
    top: 100px;
}

.position-child-fixed {
    width: 100px;
    height: 300px;
    background: green;
    position: fixed;
    right: 100px;
    top: 100px;
}

.position-child-z-index {
    width: 100px;
    height: 300px;
    background: purple;
    position: absolute;
}

.z-index-1 {
  left:50px;
  top: 50px;
  background: red;
  z-index: 3;
}

.z-index-2 {
  left: 100px;
  top: 100px;
  background: green;
  z-index: 2;
}

.z-index-3 {
  left: 150px;
  top: 150px;
  background: blue;
  z-index: 1;
}
/* эксперименты с font */
.font {
  padding: 100px 0;
}

.font-size{
  font-size: 30px;
}

.font-weight {
  font-weight: 700;
}

.font-style {
  font-style: oblique;
}

.font-variant {
  font-variant: small-caps;
}

.text-shadow {
  text-shadow: 5px 5px 1px silver;

}

.header {
  position: relative;
  border: 1px dashed black;

}


.h1 {
  text-shadow: 5px 5px 1px silver;
  font-weight: 600;
  display: inline-block;
  position: relative;
  left: 15px;
}

.nav {
  display: inline-block;
  position: relative;
  right: -25px;
}

.main {
  position: relative;
}

.section {
  display: inline-block;
  width: 600px;
  margin: 20px;
}

.article {
  overflow: auto;
  width: 600px;
  height: 150px;

}

.aside {
  display: inline-block;
  width: 100px;
  margin: 20px;
  position: absolute;
}
