* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 18px;
color: #161616;

}

/* эксперименты с position */
.position-parent {
    width: 200px;
    height: 300px;
    background: pink;
    position: relative;
    margin: 50px;
}

.position-child {
    height: 300px;
    background: violet;
    position: relative;
    left: 100px;
    top: 100px;
}

.position-child-absolute {
    width: 100px;
    height: 300px;
    background: gray;
    position: absolute;
    left: 100px;
    top: 100px;
}

.position-child-fixed {
    width: 100px;
    height: 300px;
    background: green;
    position: fixed;
    right: 100px;
    top: 100px;
}

.position-child-z-index {
    width: 100px;
    height: 300px;
    background: purple;
    position: absolute;
}

.z-index-1 {
  left:50px;
  top: 50px;
  background: red;
  z-index: 3;
}

.z-index-2 {
  left: 100px;
  top: 100px;
  background: green;
  z-index: 2;
}

.z-index-3 {
  left: 150px;
  top: 150px;
  background: blue;
  z-index: 1;
}
/* эксперименты с font */
.font {
  padding: 100px 0;
}

.font-size{
  font-size: 30px;
}

.font-weight {
  font-weight: 700;
}

.font-style {
  font-style: oblique;
}

.font-variant {
  font-variant: small-caps;
}

.text-shadow {
  text-shadow: 5px 5px 1px silver;
}

.header {
  position: relative;
  border: 1px dashed black;
}

.h1 {
  text-shadow: 7px 7px 3px gray;
  font-family: 'roboto condensed', sans-serif;
  font-weight: 600;
  display: inline-block;
  position: relative;
  left: 15px;
}

.h2 {
  text-shadow: 5px 5px 2px rgba(190, 231, 249, 0.8);
}

.nav {
  display: inline-block;
  position: relative;
  left: 35px;
  padding: 5px;
  font-family: 'roboto condensed', sans-serif;
}

.main {
  position: relative;
}

.section {
  display: inline-block;
  width: 610px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px dashed black;
  font-family: 'roboto', sans-serif;
}

.heading {
  padding: 5px;
}

.article {
  overflow: auto;
  width: 600px;
  height: 150px;
  padding: 5px;
  margin: 5px;
  background-color: rgba(190, 231, 249, 0.29);
}

.exlink {
  display: block;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'roboto condensed', sans-serif;
}

.aside {
  display: inline-block;
  width: 130px;
  margin: 20px;
  margin-right: 10px;
  position: absolute;
  right: 0px;
  padding: 5px;
  border: 1px dashed black;
}

.footer {
  width: 760px;
  padding: 5px;
  border: 1px dashed black;
  position: relative;
  bottom: 0px;
}
